<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapist.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @therapist.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @therapist.address %>
</p>

<%= link_to 'Edit', edit_therapist_path(@therapist) %> |
<%= link_to 'Back', therapists_path %>
