<!DOCTYPE html>
<html lang="en">

<head>
	<title>Optima | About us</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Main style -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">Bengaluru, Karnataka</p>
								<a class="email-info" href="mailto:turninglife360x@gmail.com">turninglife360x@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Consultation Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="./" class="logo">
								<img src="../img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 94496 16912</p>
							<%= link to "MAKE AN APPOINTMENT", appointments_path %>
						</div>
					</div>
				</div>
			</div>

			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<%# <a href="index.html">Home</a> %>
										<%= link_to "Home", root_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Counselling", homes_counselling_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Gallery", homes_gallery_url %>
									</li>
									<li>
										<%# <a href="services.html">Services</a> %>
										<%= link_to "Services", homes_services_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Team", homes_team_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>	
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "FAQ", homes_faq_path %>
									</li>			
									<li>
										<%# <a href="contacts.html">Contacts</a> %>
										<%= link_to "Contacts", homes_contacts_path %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">About Us</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-38 pad-bt-113">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<div class="about-us-img-01">
								<img src="../img/about_us/about_us_01.jpg" alt="">
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<div class="about-us-content-01">
								<p class="subtitle-01">We are Private Psychiatry Clinic</p>
								<h3 class="title-02">We Are The Best
									<span>in Psychiatry</span>
								</h3>
								<div class="about-us-text-01">
									<p>We are a group of professional and experienced psychologists and psychiatrists offering private psychological therapy and psychiatry.</p>
								</div>
								<div class="module_skills module_skills-process">
									<div class="module_inner">
										<div class="shortcode_skills">
											<ul class="skills_list process-skills-list">
												<li class="skill_li skill_li-in">
													<h6 class="skill-title">Psychology</h6>
													<div class="diagram_bar">
														<div class="skill_div skill_div-style" data-percent="80%"></div>
													</div>
													<p class="skill_percent skill_div" data-percent="80%">80%</p>
												</li>
												<li class="skill_li skill_li-in">
													<h6 class="skill-title">Neurology</h6>
													<div class="diagram_bar">
														<div class="skill_div skill_div-style" data-percent="70%"></div>
													</div>
													<p class="skill_percent skill_div" data-percent="70%">70%</p>
												</li>
												<li class="skill_li skill_li-in">
													<h6 class="skill-title">Psychiatry</h6>
													<div class="diagram_bar">
														<div class="skill_div skill_div-style" data-percent="92%"></div>
													</div>
													<p class="skill_percent skill_div" data-percent="92%">92%</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-64 pad-bt-75">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="subtitle-01 text-center">What we offer for you</p>
							<h3 class="title-03 text-center mar-bt-50">Therapies
								<span>&amp; Treatments</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="owl-carousel-03">
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_01.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Anxiety Disorder</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Anxiety disorders can be a serious illness and have long term health implications</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">Learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_02.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Treating Depression</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Qualified clinical team providing depression advice and the best course of action</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_03.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Couple Theraphy</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_04.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Anxiety Disorder</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Anxiety disorders can be a serious illness and have long term health implications</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">Learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_05.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Treating Depression</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Qualified clinical team providing depression advice and the best course of action</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_06.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Couple Theraphy</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">learn more</a>
									</div>
								</div>
								<div class="owl-carousel-03__item">
									<div class="owl-treatments">
										<figure class="owl-treatments__img">
											<a href="single_service.html">
												<img src="../img/about_us/owl/owl_img_07.jpg" alt="">
											</a>
										</figure>
										<h4 class="owl-treatments__title">
											<a href="single_service.html">Anxiety Disorder</a>
										</h4>
										<div class="owl-treatments__text">
											<p>Anxiety disorders can be a serious illness and have long term health implications</p>
										</div>
										<a href="single_service.html" class="owl-treatments__btn">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="video-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="video-block-01__btn-wrapp">
								<div class="video-block-01__box">
									<p class="video-block-01__box-text">
										<span>Video Presentation</span>
										<a href="#signup" class="video-block-01__btn">Play</a>
										<span>About Our Clinic</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="signup" class="video-block-popup">
					<div class="video-block-video">
						<iframe class="video-block-video__frame" src="https://www.youtube.com/embed/3ZBXldCxZEA?rel=0" allowfullscreen></iframe>
						<div class="video-block-close">Close</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-85 pad-bt-85">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<p class="subtitle-01">Why people trust us</p>
							<h3 class="title-03 title-03--mr-03">People
								<span>Trust Us</span>
							</h3>
							<div class="about-us-text-02">
								<p>We are a group of professional and experienced psychologists and psychiatrists offering private psychological therapy and psychiatry. We offer the most effective, tailor made approaches for your difficulties.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="trust-us-01">
								<figure class="trust-us-01__img">
									<img src="../img/about_us/icon/trust_us_01.png" alt="">
								</figure>
								<h3 class="trust-us-01__title">Leading Specialists</h3>
								<div class="trust-us-01__text">
									<p>Our team are experienced psychologists and psychiatrists with long standing academic and careers in addition to private work.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="trust-us-01">
								<figure class="trust-us-01__img">
									<img src="../img/about_us/icon/trust_us_02.png" alt="">
								</figure>
								<h3 class="trust-us-01__title">Carefull Therapy</h3>
								<div class="trust-us-01__text">
									<p>We can offer effective treatment for stress, anxiety, depression and many other conditions that trouble the modern world.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="trust-us-01">
								<figure class="trust-us-01__img">
									<img src="../img/about_us/icon/trust_us_03.png" alt="">
								</figure>
								<h3 class="trust-us-01__title">Best Treatment</h3>
								<div class="trust-us-01__text">
									<p>Talking to a professional can be helpful when you are feeling stuck in life. We only offer therapies that are proven to be effective.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gallery-about-box">
				<div class="gallery-about-box__item">
					<figure class="gallery-about-box-img">
						<img src="../img/about_us/gallery/gallery_01.jpg" alt="">
					</figure>
					<div class="gallery-item__content">
						<div class="gallery-item__tbl">
							<div class="gallery-item__row">
								<div class="gallery-item__cell">
									<p class="gallery-item__subtitle">Counseling</p>
									<h4 class="gallery-item__title">Family Counseling</h4>
									<a class="gallery-item__btn-more swipebox" href="../img/about_us/gallery/full/gallery_01_full.jpg">More</a>
									<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery-about-box__item">
					<figure class="gallery-about-box-img">
						<img src="../img/about_us/gallery/gallery_02.jpg" alt="">
					</figure>
					<div class="gallery-item__content">
						<div class="gallery-item__tbl">
							<div class="gallery-item__row">
								<div class="gallery-item__cell">
									<p class="gallery-item__subtitle">Therapy</p>
									<h4 class="gallery-item__title">Individual Theraphy</h4>
									<a class="gallery-item__btn-more swipebox" href="../img/about_us/gallery/full/gallery_02_full.jpg">More</a>
									<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery-about-box__item">
					<figure class="gallery-about-box-img">
						<img src="../img/about_us/gallery/gallery_03.jpg" alt="">
					</figure>
					<div class="gallery-item__content">
						<div class="gallery-item__tbl">
							<div class="gallery-item__row">
								<div class="gallery-item__cell">
									<p class="gallery-item__subtitle">Treatment</p>
									<h4 class="gallery-item__title">Couple Treatment</h4>
									<a class="gallery-item__btn-more swipebox" href="../img/about_us/gallery/full/gallery_03_full.jpg">More</a>
									<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery-about-box__item">
					<figure class="gallery-about-box-img">
						<img src="../img/about_us/gallery/gallery_04.jpg" alt="">
					</figure>
					<div class="gallery-item__content">
						<div class="gallery-item__tbl">
							<div class="gallery-item__row">
								<div class="gallery-item__cell">
									<p class="gallery-item__subtitle">Counseling</p>
									<h4 class="gallery-item__title">Family Practice</h4>
									<a class="gallery-item__btn-more swipebox" href="../img/about_us/gallery/full/gallery_04_full.jpg">More</a>
									<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="action-box-01__wrapp">
								<h3 class="action-box-01__title">Get a Consultation Right Now!
									<span>Call: 800 326 9160</span>
								</h3>
								<p class="action-box-01__subtitle">We are a group of professional and experienced psychologists and psychiatrists</p>
							</div>
							<div class="action-box-01__btn-wrapp">
								<a class="action-box-01__btn" href="appointment.html">Make an appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-81 pad-bt-100">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-md-4 col-lg-4">
							<p class="subtitle-01 mar-bt-18">We have best team</p>
							<h3 class="title-05 mar-bt-50">Meet Our
								<span>Spesialists</span>
							</h3>
						</div>
						<div class="col-sm-7 col-md-8 col-lg-8">
							<div class="serv-content-01 mar-top-10 mar-bt-50">
								<p>We think it’s really important that clinicians have a mixture of clinical skill and human qualities that mean you can place your trust in them. We interview every potential partner in person before we agree to work with them, as well as carrying
									out rigorous background checks.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="../img/shortcodes/team/team_01.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Emma Scott</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Psyhologist</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="../img/shortcodes/team/team_02.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Kate Moriss</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Neurology</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="../img/shortcodes/team/team_03.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Mikle Haris</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Psychiatrists</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="./" class="footer-logo">
								<img src="../img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">News</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>

	</div>

	<!-- JQuery v2.2.4 -->
	<script src="../js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky -->
	<script src="../js/plugins/jquery.sticky.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="../js/plugins/jquery.superfish.min.js"></script>

	<!-- Owl Carousel v2.2.1 -->
	<script src="../js/plugins/jquery.owl.carousel.min.js"></script>

	<!-- Swipebox v1.4.4 -->
	<script src="../js/plugins/jquery.swipebox.min.js"></script>

	<!-- Lean modal -->
	<script src="../js/plugins/jquery.leanModal.min.js"></script>

	<!-- Waypoint v2.0.2 -->
	<script src="../js/plugins/jquery.waypoint.min.js"></script>

	<!-- Main script -->
	<script src="../js/main.js"></script>

</body>

</html>