<!DOCTYPE html>
<html lang="en">

<head>
	<title>Optima | FAQ</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Main style -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">Bengaluru, Karnataka</p>
								<a class="email-info" href="mailto:turninglife360x@gmail.com">turninglife360x@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Consultation Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="./" class="logo">
								<img src="../img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 94496 16912</p>
							<%= link_to "MAKE AN APPOINTMENT", appointments_path, class: "btn-app" %>
						</div>
					</div>
				</div>
			</div>

			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<%# <a href="index.html">Home</a> %>
										<%= link_to "Home", root_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Counselling", homes_counselling_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Gallery", homes_gallery_url %>
									</li>
									<li>
										<%# <a href="services.html">Services</a> %>
										<%= link_to "Services", homes_services_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Team", homes_team_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>	
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "FAQ", homes_faq_path %>
									</li>			
									<li>
										<%# <a href="contacts.html">Contacts</a> %>
										<%= link_to "Contacts", homes_contacts_path %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">Frequently Asked Questions</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>faq</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-38 pad-bt-20">
				<div class="container">
					<div class="row">
						<div class="text-sm-center col-md-6 col-lg-6">
							<img class="faq-img-01" src="../img/faq/faq_img-01.png" alt="">
						</div>
						<div class="col-sm-center col-md-6 col-lg-6">
							<h6 class="subtitle-01">Why choose us</h6>
							<h3 class="title-02">We Are The Best
								<span>Support for You</span>
							</h3>
							<div class="faq-content-01">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists, Psychologists, Neurologists and Psychotherapists.</p>
							</div>
							<div class="progress-circle-wrapp circle--02">
								<div class="progress-circle-item-01">
									<div data-value="0.8" class="progress-circle-01">
										<div class="progress-circle-01__value"></div>
									</div>
									<p class="progress-circle-01__text">Psychology</p>
								</div>
								<div class="progress-circle-item-01">
									<div data-value="0.75" class="progress-circle-01">
										<div class="progress-circle-01__value"></div>
									</div>
									<p class="progress-circle-01__text">Neurology</p>
								</div>
								<div class="progress-circle-item-01">
									<div data-value="0.68" class="progress-circle-01">
										<div class="progress-circle-01__value"></div>
									</div>
									<p class="progress-circle-01__text">Psychiatry</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-75 pad-bt-40">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="subtitle-02">FAQ</p>
							<h3 class="title-02 title-02--mr-01">Frequently Asked
								<span>Questions</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="accordion-01 acc-theme-03">
								<h4 data-count="1" class="accordion-01__title expanded_yes">How do I know if the treatment will be beneficial?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>There are no guarantees with psychotherapy or psychiatry. We work in this field because we have seen people achieve tremendous gains form this kind of work. That doesn't mean that we can guarantee that every person will be helped, but if what
												you need is something that we can help with then we will use the best available treatments to do our utmost to help. The length of session depends on the situation. A regular Psychotherapy session will last 50 minutes. For an initial assessment
												with a Psychiatrist of Psychologist this could last 90 minutes...</span>
											<a class="accordion-01__btn" href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="2" class="accordion-01__title expanded_no">How long will my treatment go on for?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris nec tellus...</span>
											<a class="accordion-01__btn"
											    href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="3" class="accordion-01__title expanded_no">How can therapy help me?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos nam nec ante, urna non...</span>
											<a class="accordion-01__btn"
											    href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="4" class="accordion-01__title expanded_no">What about medication vs. psychotherapy?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur optio consectetur beatae eius minus, blanditiis ratione temporibus, et libero sit quae assumenda magni illo nisi dicta aliquam reprehenderit rerum, molestias nam reiciendis.
												Obcaecati, error, magni. Quas neque commodi nisi fugiat....</span>
											<a class="accordion-01__btn" href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="4" class="accordion-01__title expanded_no">Do you take insurance, and how does that work?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatibus. Neque praesentium iusto dolores rerum molestiae tempore expedita in commodi dolor. Repellendus deserunt rerum vero vel distinctio odit libero numquam eius, ad
												excepturi fuga, aperiam delectus dignissimos expedita error harum voluptatibus eum sunt. Placeat, incidunt....</span>
											<a class="accordion-01__btn" href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="4" class="accordion-01__title expanded_no">Does what we talk about in therapy remain confidential?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illo, ad numquam aperiam nostrum dolores. Provident minus suscipit repudiandae dolore sit voluptatum, natus aliquam itaque, neque consequuntur magni tempore corrupti, quisquam
												commodi fuga nobis? Dicta?...</span>
											<a class="accordion-01__btn" href="#">view all</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-85 pad-bt-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h6 class="subtitle-01 text-center">Insights and News</h6>
							<h3 class="title-03 title-03--mr-01 text-center">Our Latest
								<span>News</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="featured-post-01">
								<figure class="featured-post-01__img">
									<a href="#">
										<img src="../img/shortcodes/featured_post/featured_post_01.jpg" alt="">
									</a>
								</figure>
								<div class="featured-post-01__content">
									<h3 class="featured-post-01__content-title">
										<a href="#">Am I Depressed? 6 Signs You Should Know About</a>
									</h3>
									<ul class="featured-post-01__content-list">
										<li>25 September, 2017</li>
										<li>
											<a href="#">Infographics</a>
										</li>
									</ul>
									<div class="featured-post-01__content-text">
										<p>Everyone feels low from time to time, so it’s not always easy to know when it is part...</p>
									</div>
									<a href="#" class="featured-post-01__content-btn">Learn more</a>
								</div>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="featured-post-01">
								<figure class="featured-post-01__img">
									<a href="#">
										<img src="../img/shortcodes/featured_post/featured_post_02.jpg" alt="">
									</a>
								</figure>
								<div class="featured-post-01__content">
									<h3 class="featured-post-01__content-title">
										<a href="#">How to Talk About Your Mental Health</a>
									</h3>
									<ul class="featured-post-01__content-list">
										<li>25 September, 2017</li>
										<li>
											<a href="#">Infographics</a>
										</li>
									</ul>
									<div class="featured-post-01__content-text">
										<p>As we enter Mental Health Awareness Week we are going to take a look...</p>
									</div>
									<a href="#" class="featured-post-01__content-btn">Learn more</a>
								</div>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="featured-post-01">
								<figure class="featured-post-01__img">
									<a href="#">
										<img src="../img/shortcodes/featured_post/featured_post_03.jpg" alt="">
									</a>
								</figure>
								<div class="featured-post-01__content">
									<h3 class="featured-post-01__content-title">
										<a href="#">Anxiety Disorder: Which Therapy is Right for Me?</a>
									</h3>
									<ul class="featured-post-01__content-list">
										<li>25 September, 2017</li>
										<li>
											<a href="#">Infographics</a>
										</li>
									</ul>
									<div class="featured-post-01__content-text">
										<p>Although common, it can be hugely debilitating, and get worse over time if left...</p>
									</div>
									<a href="#" class="featured-post-01__content-btn">Learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-03">
				<div class="faq-content-02">
					<div class="faq-content-02__wrapp">
						<h6 class="subtitle-03">Contacts</h6>
						<h3 class="title-04">Find Us on a
							<span>Map</span>
						</h3>
						<div class="faq-content-02__text">
							<p>We provide a wide range of specialist services for private clients and offer confidential services for professionals and businesses.</p>
						</div>
						<p class="faq-content-02__location">455 Wallstreet St., NY, USA</p>
						<a class="faq-content-02__email" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
						<p class="faq-content-02__phone">Call:
							<span>800 326 9160</span>
						</p>
					</div>
				</div>
				<div class="faq-content-03">
					<div class="contacts_map">
						<div id="map-canvas"></div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="./" class="footer-logo">
								<img src="../img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">News</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>

	</div>

	<!-- JQuery v2.2.4 -->
	<script src="../js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky -->
	<script src="../js/plugins/jquery.sticky.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="../js/plugins/jquery.superfish.min.js"></script>

	<!-- Progress circle v1.2.2 -->
	<script src="../js/plugins/jquery.progress.circle.min.js"></script>

	<!-- Waypoint v2.0.2 -->
	<script src="../js/plugins/jquery.waypoint.min.js"></script>

	<!-- Google maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNm8iTBBSJr4h7dXOwqvw_8AbWIpw_sMo"></script>

	<!-- Main script -->
	<script src="../js/main.js"></script>

</body>

</html>