<!DOCTYPE html>
<html lang="en">

<head>
	<title>Optima | Team</title>
	<meta charset="UTF-8">
	<meta name="description" content="">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Main style -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">Bengaluru, Karnataka</p>
								<a class="email-info" href="mailto:turninglife360x@gmail.com">turninglife360x@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Consultation Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="./" class="logo">
								<img src="../img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 94496 16912</p>
							<%= link_to "MAKE AN APPOINTMENT", appointments_path, class: "btn-app" %>
						</div>
					</div>
				</div>
			</div>

			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<%# <a href="index.html">Home</a> %>
										<%= link_to "Home", root_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Counselling", homes_counselling_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Gallery", homes_gallery_url %>
									</li>
									<li>
										<%# <a href="services.html">Services</a> %>
										<%= link_to "Services", homes_services_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Team", homes_team_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>	
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "FAQ", homes_faq_path %>
									</li>			
									<li>
										<%# <a href="contacts.html">Contacts</a> %>
										<%= link_to "Contacts", homes_contacts_path %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">Specialists</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>
									<a href="shop_listing.html">Specialists</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-38 pad-bt-78">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<figure class="team-img-wrapper">
								<img src="../img/team/team_img-01.jpg" alt="">
							</figure>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<div class="team-block-wrapp">
								<h6 class="subtitle-06">Who we are</h6>
								<h3 class="title-02">About
									<span>Our Team</span>
								</h3>
								<div class="team-content-text">
									<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists, Psychologists and Psychotherapists. We only work with highly experienced and capable partners who share our values. </p>
								</div>
								<a href="#" class="team-content-text-btn">About us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-27 pad-bt-23">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h6 class="subtitle-04">We have best team</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<h3 class="title-05">Meet Our
								<span>Spesialists</span>
							</h3>
							<div class="sort-group filter-button-group team-sort">
								<a class="sort-item is-checked" href="#" data-filter="*">All</a>
								<a class="sort-item" href="#" data-filter=".psychology">Psychology</a>
								<a class="sort-item" href="#" data-filter=".neurology">Neurology</a>
								<a class="sort-item" href="#" data-filter=".psyphotherapy">Psyphotherapy</a>
								<a class="sort-item" href="#" data-filter=".psychiatry">Psychiatry</a>
							</div>
							<div class="row team-grid">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 psychology psyphotherapy psychology">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_01.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Emma Scott</a>
										</h3>
										<p class="team-item-box__subtitle">Clinical Psyhologist</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 neurology psychiatry neurology">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_02.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Anna Walker</a>
										</h3>
										<p class="team-item-box__subtitle">Consultant Psychiatrist</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 psyphotherapy psychology neurology">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_03.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Tom Stewart</a>
										</h3>
										<p class="team-item-box__subtitle">Leading Neurologist</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 psychiatry neurology">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_04.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Sarah Johnson</a>
										</h3>
										<p class="team-item-box__subtitle">Clinical Psyhologist</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 psychology psyphotherapy neurology">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_05.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Irene Smith</a>
										</h3>
										<p class="team-item-box__subtitle">Clinical Psychoterapist</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 neurology psychiatry psyphotherapy">
									<div class="team-item-box">
										<figure class="team-item-box__img">
											<a class="team-item-box__img-link" href="single_service.html">
												<img src="../img/team/team_box/team_06.jpg" alt="">
											</a>
											<ul class="team-item-box__soc-list">
												<li>
													<a href="#">
														<i class="fa fa-facebook" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram" aria-hidden="true"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</figure>
										<h3 class="team-item-box__title">
											<a href="team_member.html">Dr. Paul Ford</a>
										</h3>
										<p class="team-item-box__subtitle">Leading Psychiatrist</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="parallax parallax-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="testimonials__subtitle">Testimonials</p>
							<h3 class="testimonials__title">What Our
								<span>Clients Say</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="owl-carousel-01 owl-theme-01">
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="../img/shortcodes/users/user_01.jpg" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">John Nickelson</h3>
										<p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
									</div>
								</div>
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="../img/shortcodes/users/user_02.jpg" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">Samuel Williams</h3>
										<p class="owl-theme-01__item-user-subtitle">Lorem ipsum</p>
									</div>
								</div>
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="../img/shortcodes/users/user_03.jpg" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">Karren Johnson</h3>
										<p class="owl-theme-01__item-user-subtitle">Lorem ipsum dolor</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="action-box-01__wrapp">
								<h3 class="action-box-01__title">Get a Consultation Right Now!
									<span>Call: 800 326 9160</span>
								</h3>
								<p class="action-box-01__subtitle">We are a group of professional and experienced psychologists and psychiatrists</p>
							</div>
							<div class="action-box-01__btn-wrapp">
								<a class="action-box-01__btn" href="appointment.html">Make an appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="./" class="footer-logo">
								<img src="../img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">News</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>

	</div>

	<!-- JQuery v2.2.4 -->
	<script src="../js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky: -->
	<script src="../js/plugins/jquery.sticky.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="../js/plugins/jquery.superfish.min.js"></script>

	<!-- Isotope v3.0.4 -->
	<script src="../js/plugins/jquery.isotope.min.js"></script>

	<!-- Parallax v1.4.2  -->
	<script src="../js/plugins/jquery.parallax.min.js"></script>

	<!-- Owl Carousel v2.2.1 -->
	<script src="../js/plugins/jquery.owl.carousel.min.js"></script>

	<!-- Pretty photo v3.1.6 -->
	<script src="../js/plugins/jquery.prettyPhoto.min.js"></script>

	<!-- Main script -->
	<script src="../js/main.js"></script>

</body>

</html>