<!DOCTYPE html>
<html lang="en">

<head>
  <title>Optima | Home</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="favicon.ico" />

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <!--<link rel="manifest" href="/manifest.json">-->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--&lt;!&ndash; Bootstrap v3.3.7 &ndash;&gt;-->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->

  <!--&lt;!&ndash; Font Awesome 4.7.0 &ndash;&gt;-->
  <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->

  <!--&lt;!&ndash; Main style &ndash;&gt;-->
  <!--<link rel="stylesheet" href="css/style.css">-->

</head>

<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="wrapp-content">

  <!-- Header -->
  <header class="wrapp-header">
    <div class="info-block-01">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
            <div class="info-block-01__box-01">
              <p class="address-info">455 Wallstreet St., NY, USA</p>
              <a class="email-info" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
              <a class="free-consultation-link" href="#">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-box-01">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
            <a href="./" class="logo">
              <!--<img src="/assets/images/logo.png" alt="">-->
              <%# image_tag("logo.png") %>
            </a>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
            <p class="phone-info">
              <span>Call:</span> 800 326 9160</p>
            <!--<a class="btn-app" href="appointment.html">MAKE AN APPOINTMENT</a>-->
            <%= link_to "MAKE AN APPOINTMENT", new_appointment_path, class: "btn-app" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Main navigation -->
    <div class="header-box-02">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-nav">
              <div class="main-nav__btn">
                <div class="icon-left"></div>
                <div class="icon-right"></div>
              </div>
              <div class="header-box-03">
                <div class="search-box">
                  <a class="search-btn" href="#">Search</a>
                  <div class="search-box__dropdown">
                    <form action="./" class="search-box__form">
                      <input class="search-box__input" type="text" name="search_btn" placeholder="Search...">
                    </form>
                  </div>
                </div>
              </div>
              <ul class="main-nav__list">
                <li class="active">
                  
                </li>
                <li>
                  <%= link_to 'Home', root_path %>
                </li>
                <li>
                  <%= link_to 'Services', homes_services_path %>             
                </li>
                <li>
                  <%= link_to 'Counselling', homes_counselling_path %>
                </li>
                <li>
                  <%= link_to 'Appointments', appointments_path %>
                </li>
                <li>
                  <%= link_to 'FAQ', homes_faq_path %>
                </li>
                <li>
                  <%= link_to 'Team', homes_team_path %>
                </li>
                <li>
                  <%= link_to 'Gallery', homes_gallery_path %>
                </li>
                <li>
                  <%= link_to 'Contacts', homes_contacts_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Content -->
  <main class="content-row">
    <div class="img-box-02">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <p class="subtitle-07">We are Private Psychiatry &amp; Therapy Clinic</p>
            <h2 class="title-06">
              <span>A Strong Image</span> of
              <br> Yourself is Our Success</h2>
            <a class="btn-04" href="#">About us</a>
            <a class="btn-05" href="#">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="banners-promo-wrapp">
      <div class="banners-promo-wrapp-row">
        <div class="banners-promo-01">
          <h3 class="banners-promo-01__title">For Adults</h3>
          <div class="banners-promo-01__text">
            <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          </div>
          <ul class="banners-promo-01__list">
            <li>Anxiety</li>
            <li>Depression</li>
            <li>Bipolar Disorder</li>
            <li>ADHD</li>
            <li>A – Z of Issues</li>
          </ul>
        </div>
        <div class="banners-promo-02">
          <h3 class="banners-promo-02__title">For Children</h3>
          <div class="banners-promo-02__text">
            <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          </div>
          <ul class="banners-promo-02__list">
            <li>ADHD</li>
            <li>Aspergers and Autism</li>
            <li>Depression</li>
            <li>Anxiety Disorders</li>
            <li>A-Z of Issues</li>
          </ul>
        </div>
        <div class="banners-promo-03">
          <h3 class="banners-promo-03__title">For Business</h3>
          <div class="banners-promo-03__text">
            <p>You can call our highly experienced clinical team if your child, teenager or family is going through difficulties.</p>
          </div>
          <ul class="banners-promo-03__list">
            <li>Medico Legal Reports</li>
            <li>Occupational Health</li>
            <li>Locums and Staffing</li>
            <li>Neuropsychological Assessments</li>
            <li>Mental Capacity Assessments</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-box-01 pad-top-95 pad-bt-110">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="home-bg-wrapp">
              <div class="video_bg">
                <div class="video_img-02"></div>
                <a class="play-video" href="#" data-video-url="https://www.youtube.com/embed/3ZBXldCxZEA?rel=0">Play Video</a>
                <iframe class="video_frame frame16x10" src="https://www.youtube.com/embed/3ZBXldCxZEA?rel=0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="about-us-content-01">
              <p class="subtitle-01">Who we are</p>
              <h3 class="title-02">We Are The Best
                <span>Support for You</span>
              </h3>
              <div class="about-us-text-01 mar-bt-27">
                <p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists, Psychologists and Psychotherapists. We only work with highly experienced and capable partners who share our values.</p>
              </div>
              <a href="#" class="btn-04">About us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-02 pad-top-60 pad-bt-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="subtitle-01 text-center">What we offer for you</p>
            <h3 class="title-03 text-center mar-bt-50">Therapies
              <span>&amp; Treatments</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel-03">
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_01.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Anxiety Disorder</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Anxiety disorders can be a serious illness and have long term health implications</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">Learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_02.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Treating Depression</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Qualified clinical team providing depression advice and the best course of action</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_03.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Couple Theraphy</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_04.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Anxiety Disorder</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Anxiety disorders can be a serious illness and have long term health implications</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">Learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_05.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Treating Depression</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Qualified clinical team providing depression advice and the best course of action</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="/about_us/owl/owl_img_06.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Couple Theraphy</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">learn more</a>
                </div>
              </div>
              <div class="owl-carousel-03__item">
                <div class="owl-treatments">
                  <figure class="owl-treatments__img">
                    <a href="single_service.html">
                      <!--<img src="img/about_us/owl/owl_img_07.jpg" alt="">-->
                    </a>
                  </figure>
                  <h4 class="owl-treatments__title">
                    <a href="single_service.html">Anxiety Disorder</a>
                  </h4>
                  <div class="owl-treatments__text">
                    <p>Anxiety disorders can be a serious illness and have long term health implications</p>
                  </div>
                  <a href="single_service.html" class="owl-treatments__btn">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax parallax-01">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="shortcode-counter counter-02">
              <div class="counter-wrapper">
                <div class="counter-content">
                  <div class="stat-count-wrapper">
                    <figure class="stat-count-icon">
                      <!--<img src="img/icons/count_icon_01.png" alt="">-->
                    </figure>
                    <p class="stat-count stat-count__dec" data-count="30">0</p>
                    <p class="counter-title">Years of Experience</p>
                  </div>
                  <div class="stat-temp"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="shortcode-counter counter-02">
              <div class="counter-wrapper">
                <div class="counter-content">
                  <div class="stat-count-wrapper">
                    <figure class="stat-count-icon">
                      <!--<img src="/icons/count_icon_02.png" alt="">-->
                    </figure>
                    <p class="stat-count" data-count="154">0</p>
                    <p class="counter-title">In-House Doctors</p>
                  </div>
                  <div class="stat-temp"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="shortcode-counter counter-02">
              <div class="counter-wrapper">
                <div class="counter-content">
                  <div class="stat-count-wrapper">
                    <figure class="stat-count-icon">
                      <!--<img src="/icons/count_icon_03.png" alt="">-->
                    </figure>
                    <p class="stat-count stat-count__dec" data-count="45">0</p>
                    <p class="counter-title">Medical Branches</p>
                  </div>
                  <div class="stat-temp"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="shortcode-counter counter-02">
              <div class="counter-wrapper">
                <div class="counter-content">
                  <div class="stat-count-wrapper">
                    <figure class="stat-count-icon">
                      <!--<img src="/icons/count_icon_04.png" alt="">-->
                    </figure>
                    <p class="stat-count" data-count="1510">0</p>
                    <p class="counter-title">Successesful Therapy</p>
                  </div>
                  <div class="stat-temp"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-02 pad-top-87 pad-bt-78">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <p class="subtitle-01">Online session</p>
            <h3 class="title-02">Get a Counselling
              <span>Right Now</span>
            </h3>
            <div class="counselling-text-01">
              <p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists, Psychologists and Psychotherapists. We only work with highly experienced and capable partners who share our values.</p>
            </div>
            <a class="counselling-btn" href="#">Get now</a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="counselling-img-01">
              <!--<img src="/counselling/counselling_01.png" alt="">-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-01 pad-top-81 pad-bt-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-md-4 col-lg-4">
            <p class="subtitle-01 mar-bt-18">We have best team</p>
            <h3 class="title-05 mar-bt-50">
								<span>Meet Our
									<span>Spesialists</span>
								</span>
            </h3>
          </div>
          <div class="col-sm-7 col-md-8 col-lg-8">
            <div class="serv-content-01 mar-top-10 mar-bt-50">
              <p>We think it’s really important that clinicians have a mixture of clinical skill and human qualities that mean you can place your trust in them. We interview every potential partner in person before we agree to work with them, as well as carrying
                out rigorous background checks.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="team-item-01">
              <figure class="team-item-01__img">
                <!--<img src="/shortcodes/team/team_01.jpg" alt="">-->
              </figure>
              <div class="team-item-01__content">
                <h3 class="team-item-01__title">
                  <a href="team_member.html">Dr. Emma Scott</a>
                </h3>
                <p class="team-item-01__subtitle">Clinical Psyhologist</p>
              </div>
              <ul class="team-item-01__soc-list">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="team-item-01">
              <figure class="team-item-01__img">
                <!--<img src="/shortcodes/team/team_02.jpg" alt="">-->
              </figure>
              <div class="team-item-01__content">
                <h3 class="team-item-01__title">
                  <a href="team_member.html">Dr. Kate Moriss</a>
                </h3>
                <p class="team-item-01__subtitle">Clinical Neurology</p>
              </div>
              <ul class="team-item-01__soc-list">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="team-item-01">
              <figure class="team-item-01__img">
                <!--<img src="/shortcodes/team/team_03.jpg" alt="">-->
              </figure>
              <div class="team-item-01__content">
                <h3 class="team-item-01__title">
                  <a href="team_member.html">Dr. Mikle Haris</a>
                </h3>
                <p class="team-item-01__subtitle">Clinical Psychiatrists</p>
              </div>
              <ul class="team-item-01__soc-list">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax parallax-02">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="testimonials__subtitle">Testimonials</p>
            <h3 class="testimonials__title">What Our
              <span>Clients Say</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel-01 owl-theme-01">
              <div class="owl-theme-01__item">
                <div class="owl-theme-01__item-text">
                  <p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
                </div>
                <div class="owl-theme-01__item-user">
                  <figure class="owl-theme-01__item-user-img">
                    <!--<img src="/shortcodes/users/user_01.jpg" alt="">-->
                  </figure>
                  <h3 class="owl-theme-01__item-user-name">John Nickelson</h3>
                  <p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
                </div>
              </div>
              <div class="owl-theme-01__item">
                <div class="owl-theme-01__item-text">
                  <p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
                </div>
                <div class="owl-theme-01__item-user">
                  <figure class="owl-theme-01__item-user-img">
                    <!--<img src="/shortcodes/users/user_02.jpg" alt="">-->
                  </figure>
                  <h3 class="owl-theme-01__item-user-name">Samuel Williams</h3>
                  <p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
                </div>
              </div>
              <div class="owl-theme-01__item">
                <div class="owl-theme-01__item-text">
                  <p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
                </div>
                <div class="owl-theme-01__item-user">
                  <figure class="owl-theme-01__item-user-img">
                    <!--<img src="/shortcodes/users/user_03.jpg" alt="">-->
                  </figure>
                  <h3 class="owl-theme-01__item-user-name">Karren Johnson</h3>
                  <p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-01 pad-top-78 pad-bt-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="subtitle-01 text-center">Insights and News</h6>
            <h3 class="title-03 title-03--mr-01 text-center">Our Latest
              <span>News</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="featured-post-01">
              <figure class="featured-post-01__img">
                <a href="blog_post_right_sidebar.html">
                  <!--<img src="/shortcodes/featured_post/featured_post_01.jpg" alt="">-->
                </a>
              </figure>
              <div class="featured-post-01__content">
                <h3 class="featured-post-01__content-title">
                  <a href="blog_post_right_sidebar.html">Am I Depressed? 6 Signs You Should Know About</a>
                </h3>
                <ul class="featured-post-01__content-list">
                  <li>25 September, 2017</li>
                  <li>
                    <a href="#">Infographics</a>
                  </li>
                </ul>
                <div class="featured-post-01__content-text">
                  <p>Everyone feels low from time to time, so it’s not always easy to know when it is part...</p>
                </div>
                <a href="blog_post_right_sidebar.html" class="featured-post-01__content-btn">Learn more</a>
              </div>
            </div>
          </div>
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="featured-post-01">
              <figure class="featured-post-01__img">
                <a href="blog_post_right_sidebar.html">
                  <!--<img src="/shortcodes/featured_post/featured_post_02.jpg" alt="">-->
                </a>
              </figure>
              <div class="featured-post-01__content">
                <h3 class="featured-post-01__content-title">
                  <a href="blog_post_right_sidebar.html">How to Talk About Your Mental Health</a>
                </h3>
                <ul class="featured-post-01__content-list">
                  <li>25 September, 2017</li>
                  <li>
                    <a href="#">Infographics</a>
                  </li>
                </ul>
                <div class="featured-post-01__content-text">
                  <p>As we enter Mental Health Awareness Week we are going to take a look...</p>
                </div>
                <a href="blog_post_right_sidebar.html" class="featured-post-01__content-btn">Learn more</a>
              </div>
            </div>
          </div>
          <div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
            <div class="featured-post-01">
              <figure class="featured-post-01__img">
                <a href="blog_post_right_sidebar.html">
                  <!--<img src="/shortcodes/featured_post/featured_post_03.jpg" alt="">-->
                </a>
              </figure>
              <div class="featured-post-01__content">
                <h3 class="featured-post-01__content-title">
                  <a href="blog_post_right_sidebar.html">Anxiety Disorder: Which Therapy is Right for Me?</a>
                </h3>
                <ul class="featured-post-01__content-list">
                  <li>25 September, 2017</li>
                  <li>
                    <a href="#">Infographics</a>
                  </li>
                </ul>
                <div class="featured-post-01__content-text">
                  <p>Although common, it can be hugely debilitating, and get worse over time if left...</p>
                </div>
                <a href="blog_post_right_sidebar.html" class="featured-post-01__content-btn">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-03">
      <div class="faq-content-02">
        <div class="faq-content-02__wrapp">
          <h6 class="subtitle-03">Contacts</h6>
          <h3 class="title-04">Find Us on a
            <span>Map</span>
          </h3>
          <div class="faq-content-02__text">
            <p>We provide a wide range of specialist services for private clients and offer confidential services for professionals and businesses.</p>
          </div>
          <p class="faq-content-02__location">455 Wallstreet St., NY, USA</p>
          <a class="faq-content-02__email" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
          <p class="faq-content-02__phone">Call:
            <span>800 326 9160</span>
          </p>
        </div>
      </div>
      <div class="faq-content-03">
        <div class="contacts_map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="wrapp-footer">
    <div class="footer-box-01">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <a href="./" class="footer-logo">
              <%# image_tag("logo.png") %>
            </a>
            <div class="widget widget-text">
              <p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
              <ul class="social-list-01">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="widget widget-contacts">
              <h3 class="widget-title">Our Head Clinick</h3>
              <ul class="widget-contacts__list">
                <li>455 Wallstreet St., New York, VA 12364 United States of America</li>
                <li>
                  <a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
                </li>
                <li>826 696 8370</li>
                <li>
                  <p class="work-time">
                    We Work for You Every Day from
                    <span>8.00 AM</span> to
                    <span>6.00 PM</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="widget widget-latest-news">
              <h3 class="widget-title">Our Latest News</h3>
              <ul class="widget-latest-news__list">
                <li>
                  <h4 class="latest-news-title">
                    <a href="#">Am i Depressed? 6 Signs You Should Know About</a>
                  </h4>
                  <p class="latest-news-date">25 September, 2017</p>
                </li>
                <li>
                  <h4 class="latest-news-title">
                    <a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
                  </h4>
                  <p class="latest-news-date">25 September, 2017</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="widget widget-quick-links">
              <h3 class="widget-title">Quick Links</h3>
              <ul class="widget-quick-links__list">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">News</a>
                </li>
                <li>
                  <a href="#">Gallery</a>
                </li>
                <li>
                  <a href="#">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-footer-01">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="back2top" title="Back to Top">Back to Top</a>
  </footer>

</div>

<!--&lt;!&ndash; JQuery v2.2.4 &ndash;&gt;-->
<!--<script src="js/jquery/jquery-2.2.4.min.js"></script>-->

<!--&lt;!&ndash; Main navigation sticky &ndash;&gt;-->
<!--<script src="js/plugins/jquery.sticky.min.js"></script>-->

<!--&lt;!&ndash; SuperFish v1.7.9 &ndash;&gt;-->
<!--<script src="js/plugins/jquery.superfish.min.js"></script>-->

<!--&lt;!&ndash; Owl Carousel v2.2.1 &ndash;&gt;-->
<!--<script src="js/plugins/jquery.owl.carousel.min.js"></script>-->

<!--&lt;!&ndash; Waypoint v2.0.2 &ndash;&gt;-->
<!--<script src="js/plugins/jquery.waypoint.min.js"></script>-->

<!--&lt;!&ndash; Google maps &ndash;&gt;-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNm8iTBBSJr4h7dXOwqvw_8AbWIpw_sMo"></script>-->

<!--&lt;!&ndash; Main script &ndash;&gt;-->
<!--<script src="js/main.js"></script>-->

</body>

</html>