<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :appointment_name %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :appointment_mobile %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :appointment_email %>
  </div>

  <div class="field">
    <%= form.label :booking_date %>
    <%= form.date_select :booking_date, id: :appointment_booking_date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, id: :appointment_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, id: :appointment_end_time %>
  </div>

  <div class="field">
    <%= form.label :therapist_id %>
    <%= form.number_field :therapist_id, id: :appointment_therapist_id %>
  </div>

  <div class="field">
    <%= form.label :treatment_id %>
    <%= form.number_field :treatment_id, id: :appointment_treatment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
