<!DOCTYPE html>
<html lang="en">

<head>
	<title>Optima | Appointment</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

  <link rel="stylesheet" href="css/fullcalendar.min.css">

  <link rel="stylesheet" media="print" href="css/fullcalendar.print.min.css">

  <!-- Main style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">Bengaluru, Karnataka</p>
								<a class="email-info" href="mailto:turninglife360x@gmail.com">turninglife360x@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Consultation Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="./" class="logo">
								<img src="img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 94496 16912</p>
							<%# <a class="btn-app" href="appointment.html">MAKE AN APPOINTMENT</a> %>
              <%= link_to "MAKE AN APPOINTMENT", appointments_path, class: "btn-app" %>
						</div>
					</div>
				</div>
			</div>
	 		
			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<%# <a href="index.html">Home</a> %>
										<%= link_to "Home", root_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Counselling", homes_counselling_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Gallery", homes_gallery_url %>
									</li>
									<li>
										<%# <a href="services.html">Services</a> %>
										<%= link_to "Services", homes_services_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Team", homes_team_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>	
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "FAQ", homes_faq_path %>
									</li>			
									<li>
										<%# <a href="contacts.html">Contacts</a> %>
										<%= link_to "Contacts", homes_contacts_path %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">Appointment</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>Appointment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-38 pad-bt-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
              <a href="#signup" class="available-appointment-btn">Book appointment</a>
              <div id="appointment_cal" class="appointment-box-wrapp">

              </div>
<!--							<div class="appointment-box-wrapp">-->
<!--								<div class="appointment-box">-->
<!--									<div class="appointment-box__header">-->
<!--										<div class="app-box-01">-->
<!--											<a href="#" class="appointment-btn-prev">Prev</a>-->
<!--										</div>-->
                    <%# @month = Date.today.strftime("%B") %>
<!--										<div class="app-box-01">-->
<!--											<p class="appointment-in"><%#= @month %><%#= " #{Time.current.year}" %></p>-->
<!--										</div>-->
<!--										<div class="app-box-01">-->
<!--											<a href="#" class="appointment-btn-next">Next</a>-->
<!--										</div>-->
<!--									</div>-->
<!--									<table class="appointment-box__table">-->
<!--										<tr>-->
<!--											<th>Monday</th>-->
<!--											<th>Tuesday</th>-->
<!--											<th>Wednesday</th>-->
<!--											<th>Thuesday</th>-->
<!--											<th>Friday</th>-->
<!--											<th>Saturday</th>-->
<!--											<th>Sunday</th>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td>28</td>-->
<!--											<td>29</td>-->
<!--											<td>30</td>-->
<!--											<td>31</td>-->
<!--											<td>1</td>-->
<!--											<td>2</td>-->
<!--											<td>3</td>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td>4</td>-->
<!--											<td>5</td>-->
<!--											<td>6</td>-->
<!--											<td>7</td>-->
<!--											<td>8</td>-->
<!--											<td>9</td>-->
<!--											<td>10</td>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td>11</td>-->
<!--											<td class="ap-01">-->
<!--												<span class="ap-01-cont__01">-->
<!--													12-->
<!--												</span>-->
<!--											</td>-->
<!--											<td class="ap-01">-->
<!--												<span class="ap-01-cont__02">-->
<!--													13-->
<!--													<span class="ap-tooltip">-->
<!--														<span class="ap-tooltip-text">6 Available</span>-->
<!--													</span>-->
<!--												</span>-->
<!--											</td>-->
<!--											<td class="ap-02">-->
<!--												<span class="ap-02-cont__01">14</span>-->
<!--											</td>-->
<!--											<td class="ap-03">15</td>-->
<!--											<td class="ap-03">16</td>-->
<!--											<td class="ap-03">17</td>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td class="ap-04" colspan="7">-->
<!--												<span class="ap-04-title">Available appointment on-->
<!--													<strong>September 14, 2017</strong>-->
<!--												</span>-->
<!--												<div class="available-appointment">-->
<!--													<div class="available-appointment-row">-->
<!--														<div class="available-appointment-box-01">-->
<!--															<span class="available-appointment-time">8.00 AM - 10.00 AM</span>-->
<!--															<span class="available-appointment-text">2 Spaces Available</span>-->
<!--														</div>-->
<!--														<div class="available-appointment-box-02">-->
<!--															<a href="#signup" class="available-appointment-btn">Book appointment</a>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="available-appointment">-->
<!--													<div class="available-appointment-row">-->
<!--														<div class="available-appointment-box-01">-->
<!--															<span class="available-appointment-time">10.00 AM - 12.00 AM</span>-->
<!--															<span class="available-appointment-text">2 Spaces Available</span>-->
<!--														</div>-->
<!--														<div class="available-appointment-box-02">-->
<!--															<a href="#signup" class="available-appointment-btn">Book appointment</a>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--												<div class="available-appointment">-->
<!--													<div class="available-appointment-row">-->
<!--														<div class="available-appointment-box-01">-->
<!--															<span class="available-appointment-time">2.00 PM - 4.00 PM</span>-->
<!--															<span class="available-appointment-text">2 Spaces Available</span>-->
<!--														</div>-->
<!--														<div class="available-appointment-box-02">-->
<!--															<a href="#signup" class="available-appointment-btn">Book appointment</a>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</td>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td class="ap-03">18</td>-->
<!--											<td class="ap-03">19</td>-->
<!--											<td class="ap-03">20</td>-->
<!--											<td class="ap-03">21</td>-->
<!--											<td>22</td>-->
<!--											<td class="ap-03">23</td>-->
<!--											<td class="ap-03">24</td>-->
<!--										</tr>-->
<!--										<tr>-->
<!--											<td class="ap-03">25</td>-->
<!--											<td class="ap-03">26</td>-->
<!--											<td class="ap-03">27</td>-->
<!--											<td class="ap-03">28</td>-->
<!--											<td class="ap-03">29</td>-->
<!--											<td class="ap-03">30</td>-->
<!--											<td>1</td>-->
<!--										</tr>-->
<!--									</table>-->
<!--								</div>-->
<!--							</div>-->
						</div>
					</div>
				</div>
				<div id="signup" class="appointment-popup" style="top: 5%">
					<div class="appointment-popup__header">
						<p class="appointment-popup-title">Request an
							<span>appointment</span>
						</p>
						<p class="appointment-popup-close">Close</p>
					</div>
					<form action="./" class="appointment-popup-form">
						<div class="appointment-popup-form__box-01">
							<input type="radio" checked="checked" name="radio-name" id="radio-01">
							<label for="radio-01">New Customer</label>
							<input type="radio" name="radio-name" id="radio-02">
							<label for="radio-02">Current Customer</label>
						</div>
						<div class="appointment-popup-form__box-02">
							<p class="appointment-text-01">Please confirm that you would like to request the following appointment:</p>
							<div class="appointment-calendar">
								<p class="appointment-calendar__title">Appointment</p>
								<p class="appointment-calendar__in">September 14, 2017 at 8.00 AM - 10.00 AM</p>
							</div>
							<h4 class="appointment-text-02">
								<span>Registration</span>
							</h4>
							<p class="appointment-text-03">Please enter your name, your email address and choose a password to get started.</p>
							<div class="appointment-input-wrapp">
								<input class="appointment-input" type="text" name="app-text" placeholder="Name *">
								<div class="appointment-input-box-01">
									<input class="appointment-input" type="email" name="app-mail" placeholder="Email *">
								</div>
								<div class="appointment-input-box-02">
									<input class="appointment-input" type="password" name="app-pass" placeholder="Password">
								</div>
							</div>
							<button class="appointment-btn-01" type="button">Request appointment</button>
							<button class="appointment-btn-02">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="./" class="footer-logo">
								<img src="img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li class="active">
										<%# <a href="index.html">Home</a> %>
										<%= link_to "Home", root_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Counselling", homes_counselling_path %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "Gallery", homes_gallery_url %>
									</li>
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "About", homes_about_path %>
									</li>	
									<li>
										<%# <a href="about_us.html">About</a> %>
										<%= link_to "FAQ", homes_faq_path %>
									</li>			
									<li>
										<%# <a href="contacts.html">Contacts</a> %>
										<%= link_to "Contacts", homes_contacts_path %>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>
	</div>

	<!-- JQuery v2.2.4 -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky -->
	<script src="js/plugins/jquery.sticky.min.js"></script>

	<!-- Lean modal  -->
	<script src="js/plugins/jquery.leanModal.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="js/plugins/jquery.superfish.min.js"></script>

	<!-- Main script -->

  <script src="js/bootstrap.min.js"></script>

  <script src="js/bootstrap.bundle.min.js"></script>

  <script src="js/moment.min.js"></script>

  <script src="js/fullcalendar.min.js"></script>

  <script src="js/main.js"></script>

  <script type="text/javascript" charset="utf-8">
      $(function() {

          // page is now ready, initialize the calendar...

          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();

          if(dd<10) {
              dd = '0'+dd
          }

          if(mm<10) {
              mm = '0'+mm
          }

          today = yyyy + '-' + mm + '-' + 'dd';

          $('#appointment_cal').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay'
              },

              dayClick: function(date, jsEvent, view) {
                  console.log(date.format());
                  clickedDate = date.format();
              },

              dayRender: function (date, cell) {

              }

          });

          $("signup").css("top", "5%");
      });
  </script>

</body>

</html>